@keyframes leftToRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
.left__anim {
  animation: leftToRight 1s ease-out;
}
.right__anim {
  animation: rightToLeft 1s ease-out;
}

header {
  overflow-x: hidden;
  height: 95vh;
  width: 100%;
  background-color: black;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../../assets/img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
.header_container {
  padding: 0 2rem;
}
.navigation {
  display: flex;
  height: 13vmin;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 5vmin;
}
.logo img {
  max-height: 100%;
}
.head__main_cont {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}
