@keyframes bottom-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
  margin-top: 2rem;
  font-weight: 700;
  transition: all 1s;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 2.5vmin;
}
.btn__animation .btn:link,
.btn__animation .btn:visited {
  animation: bottom-up 1s ease-out 1s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-5px);
}
.btn:active {
  transform: translateY(-2px);
}
.btn__animation .btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.3s;
}
.btn__animation .btn:hover::after {
  transform: scaleX(1.5) scaleY(1.2);
  opacity: 0;
}
